<% if @goal.present? %>
	<h1>New <%= @goal.name %> entry</h1>
<% else %>
	<h1>New Journal Entry</h1>
<% end %>

<%= render 'form', journal_entry: @journal_entry %>

<%= link_to 'Back', journal_entries_path %>