<div id="users">



	<% if @availableAccountabilityPartners.present? %>

	    <% @availableAccountabilityPartners.each do |availableAccountabilityPartner| %>
	    	<p>
	    		<%= availableAccountabilityPartner.first_name %> <%= availableAccountabilityPartner.last_name %> (<%= availableAccountabilityPartner.email %>) <%= link_to "Add as accountability partner", accountability_partnerships_path(:accountability_partner_id => availableAccountabilityPartner.id), :method => :post %>
	    	</p>
	    <% end %>

	 <% end %>

</div>

<button class="close-button" data-close aria-label="Close reveal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
