<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @training_type.name %>
</p>

<%= link_to 'Edit', edit_training_type_path(@training_type) %> |
<%= link_to 'Back', training_types_path %>
