<div class="grid-container full">
  	<div class="grid-x grid-padding-x">
  		<div class="cell text-center">
  			<h3>Goals</h3>
  		</div>

		<p>We set goals for many reasons.  Goals help us focus on the things that are important to us.  They help us bring our performance to our conscious mind.  But most importantly, they help us change our behaviors to achieve the things we want to achieve.<p/>  
		<p>Goal-setting is one of the most important Mental Skills that an athlete can develop to achieve peak performance.  The process of goal-setting helps athletes face their current reality (who they are today) and define where they want to go in the future.  In order to be effective, goals need to have specific requirements, often delineated using the acronym, <b>SMARTER</b>.</p>
 		<p><b>S - Specific.</b>  Don’t just create a generalized goal, “I want to get better.”  Rather, define how you want to get better and how you are going to measure what better looks like.</p>
 		<p><b>M - Measurable.</b>  Goals need to have quantifiable measurability, or we will never be able to know if when we reached them.</p> 
 		<p><b>A - Actionable.</b>  One of the most important things with goals is that they will change your behavior.  But a goal that fails to provide an athlete with actionable activities that he/she can do to achieve it or relies on someone else to either perform or fail is an ineffective goal.</p>
 		<p><b>R - Reachable.</b>  Goals should push our comfort limits so they make us do more than we would naturally do.  However, goals should be reachable as well.  Every goal that is set should be one that is within the grasp of reality of the individual or team setting it.</p>
 		<p><b>T - Timely.</b>  Every goal needs to have a bound.  If you want to lose 10 lbs, that’s great.  But by when?  Without a time limit on a goal, it is too easy to put off the change required to achieve it until tomorrow.  The time element should demand a new behavior from you so that it is making you work harder than you normally would.</p>
 		<p><b>E - Engaging.</b>  Goals should be set and defined in a way to make you want to achieve them.  As time passes from the moment a goal is set, life changes.  Make sure you are creating goals that will keep you engaged in the processes necessary to achieve your desired outcomes.</p>
 		<p><b>R - Recorded/Reviewed.</b>  All goals should be recorded.  Additionally, they need to logged in such a manner that they are both documented and easily reviewable.  Without this final step, goals are easily changed in our mind or, even worse, forgotten.</p>
	</div>
</div>

<button class="close-button" data-close aria-label="Close reveal" type="button">
  <span aria-hidden="true">&times;</span>
</button>