<div class="grid-container full">
	<div class="grid-x">
		<div class="cell large-9 large-offset-1 medium-10 medium-offset-1 small-12">
			<h2>New Goal</h2>

			<%= render 'form', goal: @goal %>

		</div>
	</div>
</div>

<button class="close-button" data-close aria-label="Close reveal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
